._filteruser{
    .diglogConform{
        min-width: 400px;
        max-width: 400px;
        min-height: 225px;
        max-height: 225px;
        margin-top: -112px;
        margin-left: -200px;
    }
}