<div class="full">
    <div class="container b3">
        <div class="ui-g-12 br2">
            <h2 class="f4 ptb ui-g-4">Texture List</h2>
            <div class="ui-g-8 b tr">
                <button mat-button class="f4 b6 c3 mgl15 u"><i class="material-icons">add</i> Add Texture</button>
            </div>
        </div>
    </div>
</div>

<div class="full">
    <div class="container">
        <div class="ui-lg-3 ui-md-3 ui-sm-12" *ngFor="let a of [1,2,3,4,5,6,7,8]">
            <div class="ui-g-12 cardcat5 b3 nop sh">
                <div class="full _decImg" style="background-image: url('https://resize.indiatvnews.com/en/resize/newbucket/715_-/2018/05/homedecor-1527248438.jpg')"></div>
                <div class="full pad">
                    <table class="full f3 f14">
                        <tr>
                            <td>Texture Name</td>
                            <td>:</td>
                            <td>Texture Apply</td>
                        </tr>
                        <tr>
                            <td>Sub Category</td>
                            <td>:</td>
                            <td>Coffee Table</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>